.display {
    font-size: 56px;
    line-height: 65px;
    font-weight: 700;    
}

h1{
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
}
h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

h3{
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

h4{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h5{
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
}

h6{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.body1{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.body2{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}


label{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}


.cap1{
    font-family: var(--cap);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--purple);
}

.cap3{
    font-family: var(--cap);
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
    text-align: center;
}

.medium_grey{
    color: var(--medium-grey);
}

.header{
    background-color: var(--black);
    height: 140px;
}



.container {
    width: 90%;
    margin: 0 auto;
}
.container_content{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 128px 0;
}
.container_content_author{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.nav{
    padding: 20px;
    margin: auto;
}

@media (min-width: 900px) {
    .header {
        height: 80px;
    }


}

#button_nav {
    display: none;
}


#button_contact {
    display: none;
}


.nav-menu{
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.nav .logo{
    display: flex;
    justify-content: center;
    width: 200px;
    margin:0 auto;
}

@media (min-width: 900px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #button_nav {
        display: inline;
    }
    
    #button_contact {
        display: inline;
    }

    .nav .logo{
        margin: 0;
    }


}
.button_suscribe{
    height: 56px;
    width: 179px;
    padding: 16px 48px;
    margin:12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    transition: ease 0.3s;
    cursor: pointer;
   
}

.full_widht{
    width: 100%;
     margin: 0;

}

.white{
    background-color: var(--light-grey);
    color: var(--black);
   
}
.white:hover{
    background-color: var(--medium-grey);
    
}

.yellow{
    background-color: var(--yellow);
    color: var(--black);
}

.yellow:hover{
    background-color: var(--yellowHover);

}

.img_profile{
    margin-right: 32px;
    width: 250px;
    height: 294px;
    margin: 0 auto;
}
.author{
    background-color: var(--lavender);
    height: 100%;
    min-height: 551px;
}

.author_info{
    
    padding: 128px 0;
}

@media (min-width:900px) {
    .author_info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_profile {
        margin-right: 32px;
    }
}

.author_heading{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
 .content_frame{
    width: 100%;
    display: flex;
    
}
.yellow_frame{
    background-color: var(--yellow);
    height: 24px;
    width: 70%;
}
.blue_frame{
    background-color: var(--purple);
    height: 24px;
    width: 30%;
}


.social_wrapper{
    display: flex;
    gap: 16px;
}

.social_wrapper a {
    width: 16px;
}



.image_post{
    width: 412px;
    height: 320px;
    margin-right: 32px;
}

.post_container {
    margin-top: 64px;
}

@media (min-width:900px) {
    .post_container {
        display: flex;
    }
    
}



.description_post{
    color: var(--medium-grey);
    font-family: var(--cap);
}
.text_post{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer{
    background-color: var(--black);
    min-height: 560px;
} 

.container_footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 560px;
    width: 70%;
    margin: 0 auto;
    padding: 60px 0;
}

footer .nav-menu {
    display: block;
    text-align: center;
}

@media (min-width: 900px) {

    footer .nav-menu {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
}

.subscribe_footer{
    margin: 60px 0;
    padding: 80px 65px;
    background-color:rgba(255, 255, 255, 0.05) ;
}

.text_subscribe{
    width: 100%;
    color: var(--light);
    margin-right: 20px;
}
.input_subscribe{
    width: 100%;
}
@media (min-width: 900px) {
    .subscribe_footer {
        display: flex;
        justify-content: space-between;
        
    }
.input_subscribe {
    display: flex;
    justify-content: center;
}
}


.text_input{
    border: solid 1px var(--dark-grey);
    height: 56px;
    padding: 14px 25px;
    width: 100%;
    margin: 12px 0;
}

.address_footer{
    display: flex;
    justify-content: space-between;
    color: var(--medium-grey);
}


.form{
    width: 70%;
    margin: 0 auto;
}
.title_contact{
    word-break: break-word;
    text-align: center;
    margin: 12px 0;
}

.description_contact{
    text-align: center;
    margin: 12px 0;
}

.frame_purple_contact{
    padding: 48px 64px;
    margin-top: 42px;
    background-color: var(--purple);
    color: var(--light);
}


.working_hour{

    width: 100%;
    margin-right: 43px;
}

.contact_us_purple{
    width: 100%;
    margin: 20px 0;
}

@media (min-width:900px) {
    .frame_purple_contact {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .working_hour {
        width: 50%;
    }
    
    .contact_us_purple {
        width: 50%;
        margin: 0;
    }
}

.form_container{
    display: flex;
}
form{
    width: 100%;
}

.text_area{
    height: 100px;
}

.working_hour_text{
    font-family: var(--cap);
    font-weight: 400;
}

.hr_purple{
    border: solid 1px var(--light);
    opacity: 0.5;
    margin: 16px 0;
}

.warning{
   width: 200px;
   color: rgb(176, 9, 9);
}